body {
    font-family: 'Teko', sans-serif;
}
p {
    font-family: 'Ibarra Real Nova', serif;
}
h1 h2 h3 h4 h5 {
    color: dark gray;
}
h1 {
    text-shadow: 2px 2px orange;
}
footer, container {
    background-color: #343a40;
    color: orange;
    font-decoration: underline;
}
main {
    background-color: #ececec;
}
.footer-text {
    font-size: 25px;
}
}
a:hover {
  color: orange!important;
}
#characters img{
display: block;
margin-left: auto;
margin-right: auto;
border: 1px solid #999999;
}
@media only screen and (min-width:580px) {
#characters img {
float: right;
margin-left: 20px;
margin-bottom: 10px;
}
}